@import "../../setting/mixin/defaultbtn";

.blue-btn {
    @include defaultbtn();
    color: $blue;
    background-color: $blue;
    border-bottom: solid 3px $dark-blue;
    font-size: 17px;
    padding-top: 17px;
}

.red-btn {
    @include defaultbtn();
    color: $red;
    background-color: $red;
    border-bottom: solid 3px $dark-red;
    font-size: 17px;
    padding-top: 17px;
}

.left-position {
    position: relative;
    left: 50px;
}

.right-position {
    position: relative;
    left: 50px;
}

