%rank-content {
    height: 35px;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    text-shadow: -1px -1px rgba($black, 0.44), 1px 1px rgba($black, 0.38);
    border: 1px ridge $white;
}