.bg-red {
  background-color: #963257;
}

.bg-blue {
  background-color: #005fa2;
}

.bg-yellow {
  background-color: #ffdb72;
}

.bg-white {
  background-color: #faf4ee;
}

a:hover {
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
}

.bd-red {
  color: #963257;
}

.bd-blue {
  color: #005fa2;
}

.bd-yellow {
  color: #ffdb72;
}

.bd-white {
  color: #faf4ee;
}

.icon-btn {
  display: flex;
  width: 39px;
  height: 39px;
  border-radius: 39px;
  background-color: #faf4ee;
  border: 1px solid #a37586;
  box-shadow: 1px 1px 1px 1px #5c2135;
  justify-content: center;
  align-items: center;
  color: #5c2135;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
}

.icon-btn:hover {
  -webkit-animation: icon-btn 2s linear infinite;
          animation: icon-btn 2s linear infinite;
}

@-webkit-keyframes icon-btn {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

@keyframes icon-btn {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.bg-red {
  background-color: #963257;
}

.bg-blue {
  background-color: #005fa2;
}

.bg-yellow {
  background-color: #ffdb72;
}

.bg-white {
  background-color: #faf4ee;
}

a:hover {
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
}

.icon-box {
  margin-right: 15px;
}

.blue-btn {
  width: 100px;
  height: 50px;
  border-radius: 50px;
  z-index: 1;
  text-align: center;
  text-decoration: none;
  position: absolute;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
  color: #005fa2;
  background-color: #005fa2;
  border-bottom: solid 3px #003e6b;
  font-size: 17px;
  padding-top: 17px;
}

.blue-btn:active {
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.red-btn {
  width: 100px;
  height: 50px;
  border-radius: 50px;
  z-index: 1;
  text-align: center;
  text-decoration: none;
  position: absolute;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
  color: #963257;
  background-color: #963257;
  border-bottom: solid 3px #5c2135;
  font-size: 17px;
  padding-top: 17px;
}

.red-btn:active {
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.left-position {
  position: relative;
  left: 50px;
}

.right-position {
  position: relative;
  left: 50px;
}

h2 {
  font-weight: 300;
  text-decoration: underline;
  margin-left: 15px;
  margin-bottom: 20px;
}

form {
  border: 1px solid #373c52;
  padding: 30px;
  border-radius: 5px;
  margin-top: 50px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #373c52;
}

label {
  font-size: 20px;
}

.textarea {
  resize: vertical;
}

