@import url(https://fonts.googleapis.com/css?family=Nunito);.bg-red {
  background-color: #963257;
}

.bg-blue {
  background-color: #005fa2;
}

.bg-yellow {
  background-color: #ffdb72;
}

.bg-white {
  background-color: #faf4ee;
}

a:hover {
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
}

.bd-red {
  color: #963257;
}

.bd-blue {
  color: #005fa2;
}

.bd-yellow {
  color: #ffdb72;
}

.bd-white {
  color: #faf4ee;
}

.icon-box {
  margin-right: 15px;
}

h2 {
  font-weight: 300;
  text-decoration: underline;
  margin-left: 15px;
  margin-bottom: 20px;
}

form {
  border: 1px solid #373c52;
  padding: 30px;
  border-radius: 5px;
  margin-top: 50px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #373c52;
}

.submit-btn {
  margin-top: 10px;
  margin-left: 15px;
}

label {
  font-size: 20px;
}

.textarea {
  resize: vertical;
}

