.search-box {
  visibility: hidden;
  align-self: center;
  margin-right: 0px;
  width: 0px;
  height: 20px;
  font-size: 15px;
  transition: 0.2s;
  border-radius: 5px;
}

.search-box-show {
  visibility: visible;
  margin-right: 5px;
  width: 200px;
  height: 30px;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #963257;
  z-index: 2;
}

.search-area {
  display: flex;
  flex-direction: row;
}

.post-icon-box {
  margin-right: 5px;
}

