.proverb-area {
  margin-top: 10px;
  margin-bottom: 10px;
}

.proverb-area .proverb-title {
  position: relative;
  transform: rotate(-5deg);
  top: 10px;
  right: 10px;
  z-index: 1;
  width: 200px;
  font-weight: 900;
}

.blue-btn {
  width: 100px;
  height: 50px;
  border-radius: 50px;
  z-index: 1;
  text-align: center;
  text-decoration: none;
  position: absolute;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
  color: #005fa2;
  background-color: #005fa2;
  border-bottom: solid 3px #003e6b;
  font-size: 17px;
  padding-top: 14px;
}

.blue-btn:active {
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.red-btn {
  width: 100px;
  height: 50px;
  border-radius: 50px;
  z-index: 1;
  text-align: center;
  text-decoration: none;
  position: absolute;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
  color: #963257;
  background-color: #963257;
  border-bottom: solid 3px #5c2135;
  font-size: 17px;
  padding-top: 14px;
}

.red-btn:active {
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.left-position {
  position: relative;
  left: 50px;
}

.right-position {
  position: relative;
  left: 50px;
}

.text-center {
  text-align: center;
}

.home-title {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

