@import "../../setting/mixin/squarecard";
@import "../../setting/mixin/linkcardcontent";

@mixin linkcard {
    @include squarecard();
    .link-title {
        @include linkcontent();
        align-items: flex-end;
    }
    .link-info {
        @include linkcontent();
        align-items: flex-start;
    }
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    .blue-linkcard{
        @include  linkcard();
        background-color: $blue;
    }
    .yellow-linkcard{
        @include  linkcard();
        background-color: $yellow;
    }
}


