@import "../frame/homelayout";
@import "../contents/parts/module/proverb";
@import "../base/colors";
@import "../contents/parts/component/bgcolors";
@import "../contents/parts/component/bordercolor";
@import "../contents/parts/component/btn";

.text-center {
    text-align: center;
}

.home-title {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}


