@import "../base/colors";
@import "../frame/homelayout";
@import "../contents/parts/component/osanaimark";
@import "../contents/parts/module/postcard";
@import "../contents/parts/module/linkcard";
@import "../contents/parts/component/bgcolors";
@import "../contents/parts/component/bordercolor";
@import "../contents/parts/component/btn";
@import "../contents/parts/component/iconbtn";

$fontsize15: 15px;

.title-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .post-title {
        font-size: $fontsize15 * 1.5;
        vertical-align: center;
    }
}

.btn-area {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
