// utility
@import "../contents/utility/colors";

// component
@import "../contents/component/btn";

// module
@import "../contents/component/circle-black";
@import "../contents/component/welcome-title";


body {
    background-image: url("../../images/welcome_bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
    width: auto;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.btns {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 250px;
    width: 400px;
}

.left-position {
    position: relative;
    left: 50px;
}

.right-position {
    position: relative;
    left: 50px;
}

