@import "../base/colors";
@import "../contents/parts/component/btn";
@import "../contents/parts/module/blackcircle";
@import "../contents/parts/module/welcometitle";


body {
    background-image: url("../../images/welcome_bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
    width: auto;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


