$backshadow: #373c52;
$red: #963257;
$black: #373c52;
$navy: #b3babb;
$blue: #005fa2;
$yellow: #ffdb72;
$white: #faf4ee;

h2 {
    font-weight    : 300;
    text-decoration: underline;
    margin-left    : 15px;
    margin-bottom  : 20px;
}

form {
    border          : 1px solid $backshadow;
    padding         : 30px;
    background-color: #faf4ee;
    border-radius   : 5px;
    margin-top      : 50px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px $backshadow;
}

.submit-btn {
    margin-top : 10px;
    margin-left: 15px;
}

label {
    font-size: 20px;
}

.textarea {
    resize: vertical;
}