$red: #963257;
$dark-red: #5c2135;
$light-red: #a37586;
$black: #373c52;
$navy: #b3babb;
$blue: #005fa2;
$yellow: #ffdb72;
$white: #faf4ee;

.red-bg {
    background-color: $red;
}

.icon-box {
    margin-right: 15px;
    a:hover {
        text-decoration-color: transparent;
    }
    .header-icon {
        display: flex;
        width: 39px;
        height: 39px;
        border-radius: 39px;
        background-color: $white;
        border: 1px solid $light-red;
        box-shadow: 1px 1px 1px 1px $dark-red;
        justify-content: center;
        align-items: center;
        color: $dark-red;
        overflow: hidden;
        margin-top: 5px;
        margin-bottom: 5px;
        &:hover {
            animation: header-icon 2s linear infinite;
        }
    }
    // .user-icon-box {
    //   height: 50px;
    // }
}

@keyframes header-icon {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}
